.header {
  background-color: $color-fond;
  padding: 0 20px;
  box-shadow: 1px 1px 10px $color-dark;
  &__heading {
    height: 75px;
    @include placement(2, 1);
    @include flex(row, center, none, none, center);

    @include sm {
      @include placement(5, 1);
      margin: 0 auto;
    }
  }
  &__nav {
    @include placement(8, 1);

    @include sm {
      grid-column: 1 / 9;
      grid-row: 2;
    }
  }
  &__ul {
    height: 75px;
    list-style-type: none;
    @include flex(row, center, none, none, center);

    @include sm {
      @include flex(row, space-around, none, none, center);
    }
  }
  & a {
    text-decoration: none;
    margin: 0 10px;
    color: $color-dark;
    font-weight: 700;
    font-family: "Permanent Marker", cursive;
  }
  &__lien-panier {
    border: $color-primary solid 2px;
    border-radius: 50px;
    padding: 5px;
    & a {
      @include flex(row, space-around, center, center, center);
      color: $color-primary;
      font-weight: 700;
    }
    & svg {
      fill: $color-primary;
      margin-left: 10px;
    }
  }
}

.produit {
  margin: 0 auto;
  height: 75%;
  & h1 {
    text-align: center;
    color: $color-primary;
    padding: 40px 0;
  }
  &__card {
    margin: auto;
    @include flex(row, center, center, center, center);

    @include md {
      @include flex(column, center, center, center, center);
    }
    & img.ours {
      width: 300px;
      margin: 10px;
      box-shadow: 1px 1px 10px $color-dark;

      @include sm {
        width: 250px;
      }
    }
    & select {
      padding: 5px;
      margin-left: 10px;
    }
    &__text {
      width: 300px;
      padding: 10px;
      text-align: center;
    }
    & h2 {
      font-size: 30px;
    }
    &__color {
      padding: 5px;
      @include flex(row, center, center, none, center);
      & input {
        margin: 0 10px;
      }
    }
    &__panier {
      margin: 10px auto;
      @include placement(1, 5);
      font-size: 20px;
      font-weight: 500;
      width: 200px;
      border: solid $color-primary 2px;
      border-radius: 50px;
      padding: 5px 15px;
      font-family: "Permanent Marker", cursive;
      color: $color-primary;
      background-color: white;
      outline-style: none;
      @include flex(row, center, center, center, center);
      cursor: pointer;
      box-shadow: 5px 5px 5px $color-shadow;
      transition: 0.3s;
      & svg {
        fill: $color-primary;
        transition: 0.4s;
      }
      &:hover {
        background-color: $color-primary;
        color: white;
      }
      &:hover svg {
        fill: white;
      }
      & p {
        margin-right: 10px;
      }
      & a {
        color: $color-primary;
        display: flex;
        text-decoration: none;
        list-style-type: none;
      }
    }
  }
}

.panier {
  margin: 30px auto;
  height: 69.1%;
  & p {
    text-align: center;
  }
  & table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  & td {
    border: 1px solid black;
    padding: 5px 10px;
  }
  & button {
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    border: solid $color-primary 2px;
    border-radius: 50px;
    margin-top: 30px;
    padding: 5px 15px;
    font-family: "Permanent Marker", cursive;
    color: $color-primary;
    background-color: white;
    outline-style: none;
    @include flex(row, center, center, center, center);
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 5px 5px $color-shadow;
    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }
}

.footer {
  background-color: $color-dark;
  padding: 0 20px;
  font-size: 14px;
  margin-top: 30px;
  color: white;
  box-shadow: 1px 1px 10px $color-dark;
  font-family: "Permanent Marker", cursive;
  
  @include md {
    @include flex(column, center, center, center, center);
  }
  &__ul {
    height: 75px;
    list-style-type: none;
    @include placement(5, 1);
    @include flex(row, space-around, none, none, center);
    & li {
      padding: 0 20px;
    }
  }
  &__text-left {
    height: 75px;
    width: 175px;
    @include flex(row, space-around, none, none, center);
    @include placement(2, 1);
  }
  &__text-right {
    height: 75px;
    width: 175px;
    @include flex(row, center, none, none, center);
    @include placement(8, 1);
  }
  & ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
  }
}
