.header {
  background-color: $color-fond;
  padding: 0 20px;
  box-shadow: 1px 1px 10px $color-dark;
  &__heading {
    height: 75px;
    @include placement(2, 1);
    @include flex(row, center, none, none, center);
  }
  &__nav {
    @include placement(8, 1);
  }
  &__ul {
    height: 75px;
    list-style-type: none;
    @include flex(row, center, none, none, center);
  }
  & a {
    text-decoration: none;
    margin: 0 10px;
    color: $color-dark;
    font-weight: 700;
    font-family: "Permanent Marker", cursive;
  }
  &__lien-panier {
    border: $color-primary solid 2px;
    border-radius: 50px;
    padding: 5px;
    & a {
      @include flex(row, space-around, center, center, center);
      color: $color-primary;
      font-weight: 700;
    }
    & img {
      margin-left: 10px;
    }
  }
}

.produit {
  width: 700px;
  height: 502px;
  margin: 0 auto;
  & h1 {
    text-align: center;
    padding-top: 50px;
    height: 10%;
  }
  &__card {
    height: 85%;
    @include flex(row, center, center, center, center);
    & img.ours {
      width: 400px;
      box-shadow: 1px 1px 10px $color-dark;
    }
    &__text {
      padding: 20px;
      text-align: center;
    }
    & h2 {
      font-size: 30px;
    }
    &__color {
      padding: 5px;
      @include flex(row, center, center, none, center);
      & input {
        margin: 0 10px;
      }
    }
    &__panier {
      font-size: 20px;
      font-weight: 700;
      border: solid $color-primary 2px;
      border-radius: 50px;
      padding: 5px;
      font-family: "Permanent Marker", cursive;
      width: 120px;
      margin: 0 auto;
      @include flex(row, center, center, center, center);
      & p {
        margin-right: 10px;
      }
      & a {
        color: $color-primary;
        display: flex;
        text-decoration: none;
        list-style-type: none;
      }
    }
  }
}

.footer {
  background-color: $color-dark;
  padding: 0 20px;
  font-size: 14px;
  margin-top: 30px;
  color: white;
  box-shadow: 1px 1px 10px $color-dark;
  position: relative;
  bottom: 0;
  font-family: "Permanent Marker", cursive;
  &__ul {
    height: 75px;
    list-style-type: none;
    @include placement(5, 1);
    @include flex(row, space-around, none, none, center);
    & li {
      padding: 0 20px;
    }
  }
  &__text-left {
    height: 75px;
    width: 175px;
    @include flex(row, space-around, none, none, center);
    @include placement(2, 1);
  }
  &__text-right {
    height: 75px;
    width: 175px;
    @include flex(row, center, none, none, center);
    @include placement(8, 1);
  }
  & ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
  }
}
