.article {
  padding: 0 20px;
  & h1 {
    padding: 10px 0;
  }
  & section {
    @include flex(column, center, center, center, center);
  }
  &--place-heading {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  &--place-info {
    @include placement(3, 1);
  }
  &--place-1 {
    @include placement(1, 2);
  }
  &--place-2 {
    @include placement(2, 2);
  }
  &--place-3 {
    @include placement(3, 2);
  }
  &--place-4 {
    @include placement(1, 3);
  }
  &--place-5 {
    @include placement(2, 3);
  }
  & div.card {
    height: auto;
    @include flex(column, none, none, none, none);
    &__description {
      @include flex(row, space-around, none, none, none);
      & p {
        font-weight: 1000;
      }
    }
    & h2 {
      padding: 8px 0;
      margin: 0 auto;
    }
  }
  & img.produit {
    width: 200px;
    height: 130px;
    box-shadow: 1px 1px 8px $color-dark;
  }
  & img.rating-star {
    width: 75px;
  }
  & a {
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 150px;
    padding: 8px 20px;
    margin: 10px auto;
    background-color: $color-primary;
    box-shadow: 5px 5px 5px $color-dark;
    border-radius: 50px;
  }
  & aside {
    @include flex(column, center, none, space-between, none);
    padding: 20px;
    height: auto;
    grid-column: 4;
    grid-row: 1 / 4;
    & p {
      margin: 50px 0;
    }
    & hr {
      width: 30%;
      margin: 0 auto;
      background-color: lightgrey;
      height: 1px;
      border: none;
    }
  }
}
