$color-primary: #8f5bfe;
$color-second: #e78b05;

$color-fond: #f3e9f1;
$color-dark: #261624;

.wrapper {
  display: grid;
  &__header {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
  }
}

@mixin placement($column, $row) {
  grid-column: $column;
  grid-row: $row;
}
