$color-primary: #7434ff;
$color-primary-light: #c8afff;
$color-second: #e78b05;

$color-fond: #f3e9f1;
$color-dark: #261624;
$color-shadow: #686868;

.b {
  border: red solid 1px;
}

@mixin placement($column, $row) {
  grid-column: $column;
  grid-row: $row;
}

@mixin flex($direction, $just, $just-items, $align, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  justify-items: $just-items;
  align-content: $align;
  align-items: $align-items;
}
